@model  GoodsService.Web.Models.LoginModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>北京燃气集团地理信息系统</title>
    <style>
        /*.tableForm th {
            text-align: right;
            width: 50px;
        }

        .tableForm tr {
            height: 30px;
        }*/
        .ie {
            margin-left:500px;
        }
        .fox {
            margin-left: 600px;
        }
        .ie2 {
            margin-left: -50px;
        }

        .fox2 {
            margin-left: 70px;
        }
    </style>

    <script src="~/Content/easyUI/jquery.min.js"></script>
    <script src="~/Content/easyUI/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="~/Content/easyUI/locale/easyui-lang-zh_CN.js"></script>

    <script src="~/Content/html5shiv.3.7.min.js"></script>
    <script src="~/Content/jquery.json-2.4.min.js"></script>
    <link href="~/Content/easyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />

    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Content/main.js" type="text/javascript"></script>
    <script type="text/javascript">

        function login() {

            var userName = $('#UserName').val();
            var passWord = $('#Password').val();
            if (userName == "") {
               // $.messager.alert('提示', '请输入账号', 'warning');
                alert("请输入账号");

                $('#UserName').focus();
                return false;
            } else if (passWord == "") {
                //$.messager.alert('提示', '请输入密码', 'warning');
                alert("请输入密码");
                $('#Password').focus();
                return false;
                //} else {

                //    var userData = { UserName: userName, Password: passWord};
                //    postData('Account/Login', userData, function (data, textStatus) {
                //        window.location = '/Main/Index';
                //    }, function (data, textStatus, errorThrown) {
                //        $.messager.alert('提示', '登录失败，账号或密码有误！', 'warning');
                //    });
                //}
            }
            return true;
        }
        function closeWin() {
            window.close();
        }
        function keyupPro() {
            if (event.keyCode == 13) {
                
                $("#btsubmit").click();
            }
                //login();
        }

        $(function () {
            
            if ((navigator.userAgent.indexOf('MSIE') >= 0) && (navigator.userAgent.indexOf('Opera') < 0)) {
                $("#btsubmit").addClass("ie");
                $("#UserName").addClass("ie2");
                $("#Password").addClass("ie2");
                
            } else {
                $("#btsubmit").addClass("fox");
                $("#UserName").addClass("fox2");
                $("#Password").addClass("fox2");

            }
        })
    </script>
</head>
<body style="background-color: #EBEBEB">
    <div align="center" style="vertical-align:middle;">
        <div id="user_login_loginDialog" title="系统登录" style="width: 1003px; height: 562px; background-image:url(/Images/bj1.jpg)">
            @using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl}))
                        {
                @Html.AntiForgeryToken()
                            <table>
                                <tr>
                                    <td>
    
                                        <table class="tableForm" style="margin-left: 600px; margin-top: 250px; width:400px">
                                            <tr>
                                                
                                                <td>
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "easyui-validatebox", id = "UserName", style = " width:200px; height: 25px; background-color: transparent; border: 0px solid #F00;" })
                                                
                                                </td>
                                            </tr>
                                            <tr style="height: 50px">
                                                <td>
                                                    @Html.PasswordFor(m => m.Password, new { @class = "easyui-validatebox", id = "Password", style = "width: 200px; height: 25px; background-color: transparent; border: 0px solid #F00;" })
                                                </td>

                                            </tr>
                                            <tr style="height: 10px;">
                                                <td width="300px">
                                                    @Html.ValidationMessageFor(t => t.UserName)
                                                    @Html.ValidationMessageFor(m => m.Password)
                                                    @Html.ValidationSummary(true)
                                                </td>
                                            </tr>
                                        </table>
                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" value="" onclick="return login()"  id="btsubmit" style=" width: 296px; height: 41px; background-image: url(/Images/login.gif); border: 0px solid #F00; cursor: pointer" />
                                    </td>
                                </tr>
                            </table>
                        }
        </div>
    </div>
</body>
</html>